.preview-title {
	padding-top: 10px;
	margin-bottom: 10px;
}

.btn-share {
	margin-top: 30px;
	float: right;
	background-color: #000;
	color: #fff;
	font-size: 1em;
	letter-spacing: 1px;
}

.tagline { 
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0;
}

.fa-twitter {
	font-size: 1.3em;
	padding-top: 3px;
}

.social {
	float: right;
}

.preview-img {
	background-color: #666;
}